<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kefeng.dao.UserMapper">

    <resultMap id="userMap" type="com.kefeng.pojo.User">
        <id property="userId" column="userId"/>
        <result property="userName" column="userName"/>
        <result property="password" column="password"/>
    </resultMap>
    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.kefeng.pojo.User">
        INSERT INTO USER (userName, password , permissions , nickName)
        VALUES (#{userName}, #{password} , #{permissions} , #{nickName})
    </insert>

    <select id="getUserByUserName" resultType="com.kefeng.pojo.User" parameterType="string">
      <![CDATA[
        SELECT *
        FROM USER
        WHERE userName = #{userName}
        ]]>
    </select>

    <delete id="delUser" parameterType="int">
        delete
        from user
        where userId = #{userId}
    </delete>

    <update id="updateUser" parameterType="com.kefeng.pojo.User">
        update user
        set userName   = #{userName},
            password    = #{password},
            permissions = #{permissions},
            nickName   = #{nickName}
        where userId = #{userId}
    </update>

    <select id="getUserList" resultType="com.kefeng.pojo.User">
        select *
        from user
    </select>

    <select id="getUserById" resultType="com.kefeng.pojo.User" parameterType="int">
      <![CDATA[
        SELECT *
        FROM user
        WHERE userId = #{userId}
        ]]>
    </select>
</mapper>